---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="about cpl.sk8"
	description="this is a little bit about who i am"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		cpl.sk8 is a skater who is currently studying at nashville school for the arts.
	</p>
</Layout>
